@import "./common/all.css";
@import "./common/header.css";
@import "./common/footer.css";

.nav_news{
  position: relative;
}
.nav_news:after{
  content: "";
  position: absolute;
  top: 110%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #2f7bb7;
  width: 45px;
  height: 4px;
}
.small_navs{
  border: 1px solid #FFFFFF;
  width: 930px;
  margin: 40px auto;
  background-color: #FFFFFF;
}
.small_navs ul{
  padding: 0 35px;
  text-align: center;
}
.small_navs ul > li{
  display: inline-block;
  margin: 0 50px;
  position: relative;
}
.small_navs a{
  text-decoration: none;
  color: black;
  font-weight: bold;
}
.small_navs a:hover{
  color: #2f7bb7;
}
.small_navs ul > li:after{
  content: "|";
  font-size: 1rem;
  margin-left: 50px;
  position: absolute;
  top: 40%;
  transform: translateY(-50%);
}
.small_navs ul > li:last-child:after{
  visibility: hidden;
}
.news_container{
  width: 1200px;
  margin: 0 auto 25px;
  display: flex;
  justify-content: space-between;
}
.news_block{
  display: inline-block;
  background-color: #FFFFFF;
}
.news_block ul{
  list-style: none;
  width: 380px;
  height: 600px;
  padding: 0;
  margin: 0;
  position: relative;
}
.news_block ul li:nth-child(2){
  margin: 10px 20px;
  font-weight: bold;
  font-size: 18px;
}
.news_block ul li:nth-child(3){
  margin: 30px 20px 20px;
  font-size: 16px;
}
.news_block ul li:nth-child(4){
  margin: 20px 20px 60px;
  font-size: 14px;
}
.news_block ul li a{
  text-decoration: none;
  color: #000000;
}
.news_button{
  text-decoration: none;
  color: #000000;
  display: inline-block;
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translateX(-50%);
  width: 250px;
  height: 40px;
  text-align: center;
  padding: 8px 0;
  background-color: #2f7bb7;
  border-radius: 20px;
  color: #FFFFFF;
}
.news_button:hover{
  background-color: #3B77A7;
  color: #c5c5c5;
}
.pagination_block{
  width: 1200px;
  margin: 50px auto;
  text-align: center;
}
.pagination{
  padding: 0;
  margin: 0;
}
.pagination > li{
  display: inline-block;
  border-radius: 999em;
  width: 50px;
  height: 50px;
  line-height: 50px;
}
.pagination > li a{
  text-decoration: none;
  color: inherit;
  display: inline-block;
  width: 100%;
  height: 100%;
}
.pagination li:nth-child(3){
  background-color: #686868;
  color: white;
}
.pagination li:hover{
  background-color: #686868;
  color: white;
}
