@import "./common/all.css";
@import "./common/header.css";
@import "./common/footer.css";

.product:after{
  content: "";
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #2f7bb7;
  width: 30px;
  height: 4px;
}
.breadcrumb{
  width: 1200px;
  position: sticky;
  top: 76px;
  margin: 0 auto;
  font-size: 0;
  background-color: #f7f7f7;
}
.breadcrumb ul{
  list-style: none;
  padding: 0;
  margin: 0;
  display: inline-block;
}
.breadcrumb li{
  display: inline-block;
  font-size: 16px;
  font-weight: 600;
  height: 60px;
  width: 150px;
  position: relative;
}
.breadcrumb a{
  text-decoration: none;
  color: black;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.breadcrumb ul li:first-child{
  background-color: #d5d5d5;
}
.breadcrumb ul li:hover{
  background-color: #d5d5d5;
}
.separation-line{
  width: 1px;
  height: 30px;
  position: absolute;
  top: 50%;
  right: 150px;
  transform: translateY(-50%);
  background-color: #d5d5d5;
}
.banner_product{
  width: 1200px;
  margin: 0 auto;
}
.product_menu{
  width: 1200px;
  margin: 30px auto 15px;
  display: flex;
  justify-content: space-around;
}
.menu_block{
  width: 265px;
  font-size: 0;
}
.menu_block button img{
  width: 10px;
  height: 10px;
}
.menu_block button{
  padding: 4px 6px;
  border: 1px solid black;
  height: 32px;
  width: 32px;
  background-color: white;
}
.menu_block input{
  width: 87px;
  height: 32px;
  text-align: center;
}
.menu_size{
  width: 80px;
  height: 32px;
  padding-left: 30px;
}
.price{
  font-size: 20px;
  font-weight: bold;
  margin: 10px 0 6px;
}
.narrate{
  font-size: 14px;
  margin: 6px 0 20px;
}
.pro_pic img{
  width: 264px;
  height: 337px;
}
.pagination_block{
  width: 1200px;
  margin: 50px auto;
  text-align: center;
}
.pagination{
  padding: 0;
  margin: 0;
}
.pagination > li{
  display: inline-block;
  border-radius: 999em;
  width: 50px;
  height: 50px;
  line-height: 50px;
}
.pagination > li a{
  text-decoration: none;
  color: inherit;
  display: inline-block;
  width: 100%;
  height: 100%;
}
.pagination li:nth-child(3){
  background-color: #686868;
  color: white;
}
.pagination li:hover{
  background-color: #686868;
  color: white;
}
